*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ; /*fr significa fraccion*/
    column-gap: 12px;/*column-gap es el espacio entre las columnas*/
}
.grid-container img, .grid-container video{
    width: 100%;
}
@media (max-width:650px){
.container{
    background-color: rgb(143, 252, 203);
}
.grid-container{
    grid-template-columns: 1fr 2fr;
}
}